body *{
    font-family: Arial;
}

ul, p {
    margin: 0;
}

li > a {
    text-decoration: none;
}

ul{
    list-style-type: none;
}

.main-nav {
    height: 80px;
    background-color: #0088cc;
}

.main-nav ul li{
    width: 20%;
    display: inline;
}

.panel {
    position: relative;
}

.screen-box {
    margin-top: 25px;
    margin-bottom: 35px;
}

#remove-project-form {
    margin: 20px 0;
}

.header-box {
    padding: 15px;
}

.btn {
    margin: 8px;
}

#drag-icon {
    color: #007bff;
}

/* trick for give height to a parent with floating elements */
.panel:after {
    clear: both;
    content: "";
    display: block;
}

#tool-panel {
    margin: auto;
    background-color: whitesmoke;
    height: 100%;
}

.tab-content {
    padding: 5% 5%;
}

.customizable-property-box {
    margin: 5% 0;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  /*min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.base-form {
    margin: auto;
    width: 50%;
}
.screen {
    position: relative;
    margin: 0 19%;
    width: 450px;
    height: 914px;
}

.top-screen-frame-android{
    background: url(../img/nexus-5x-top.png) no-repeat;
    height: 87px;
}

.top-screen-frame-iphone{
    background: url(../img/iphone-8-top.png) no-repeat;
    height: 110px;
}

.middle-screen-frame-android{
    background: url(../img/nexus-5x-middle.png) no-repeat;
    height: 682px;
    position: relative;
    padding: 0px 22px 0px 18px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    align-content: stretch;
}

.middle-screen-frame-iphone{
    background: url(../img/iphone-8-middle.png) no-repeat;
    height: 696px;
    position: relative;
    padding: 0px 29px 0px 29px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    align-content: stretch;
}

.bottom-screen-frame-android{
    background: url(../img/nexus-5x-bottom.png) no-repeat;
    height: 145px;
}

.bottom-screen-frame-iphone{
    background: url(../img/iphone-8-bottom.png) no-repeat;
    height: 110px;
}

#screen-header {
    width: auto;
    height: 50px;
    background-color: #527D9F;
}

#screen-body {
    width: auto;
    height: 582px;
    flex-shrink: 2;
    background-color: #CED8E1;
    overflow: hidden;
}

#keyboard-screen-container {
    width: 100%;
    flex-grow: 2;
}

#keyboard-screen-container .screen-generated-keyboard {
    width: 100%;
    padding: 5px 10px;
}

#keyboard-screen-container .screen-generated-keyboard input:disabled {
    background: none;
}

#canvas-container {
    display: none;
    visibility: hidden;
}

textarea {
    width: 100%;
    height: 50px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}

#image-msg img{
    width: 200px;
}

.message-list{
    display: table;
    width: 100%;
    padding: 0 3%;
}
.message-list li img{
    width: 310px;
    padding: 4px;
    border-radius: 10px;
}

.text-message {
    width: 50px;
    background-color: aqua;
}

.message-list li{
    position: relative;
    display: table-cell;
    margin: 10px 0;
    cursor: move;
    max-width: 85%;
    border-radius: 10px;
}

.message-list li textarea{
    outline: none;
    resize: none;
    overflow: auto;
    background: transparent !important;
    border: none !important;
}
.message-right {
    float: right;
    clear: both;
    background-color: #EFFEDF;
}

.message-left {
    float: left;
    clear: both;
    background-color: #FDFFFF;
}

.message-inlinekeyboard {
    float: left;
    clear: both;
}

.screen-image-message{
    background: none;
}

.list-group-custom {
    margin: 15px 0;
}

.list-container-custom {
    margin: 30px 0;
}

.button-panel{

}
.button-panel li{
    display: inline-block;
    border-radius: 50%;
    background: #007bff;
    color: #ffffff;
    align-items: center;
    padding: 10px 10px;
    cursor: pointer;
    margin-bottom: 10px;
}


.button-panel li:hover{
    background: #239efa;
}

.button-panel label{
    margin-bottom: 0;
}
#save-screen-button svg{
    width: 1em;
}

.thumbnail {
    width: 85px;
}

.screen-navigation {
    text-align: center;
}

.screen-navigation span{
    vertical-align: top;
}

form.hide-submit input[type="submit"] { display: none;}
form.hide-submit i{cursor: pointer;}
/* keyboard styles */
.keyboard-generator:after {
    clear: both;
    content: "";
    display: block;
}

.keyboard-container:after {
    clear: both;
    content: "";
    display: block;
}

#add-row{
    float: left;
    clear: both;
    width: 100%;
}

.generated-keyboard {
    background: #ffffff;
    float: left;
    width: 90%;
}

.generated-keyboard .keyboard-row{
    width: 100%;
    height: 40px;
    display: table;
    border-collapse:separate;
    border-spacing: 5px;
    table-layout: fixed;
}

.generated-keyboard .keyboard-row div{
    display: table-cell;
    background: #e6e6e6;
    text-align: center;
    height: 30px;
    padding: 0 5px;
}

.screen-generated-keyboard {
    background: #ffffff;
    float: left;
    width: 90%;
}

.screen-generated-keyboard .keyboard-row{
    width: 100%;
    height: 40px;
    display: table;
    border-collapse:separate;
    border-spacing: 5px;
    table-layout: fixed;
}

.screen-generated-keyboard .keyboard-row div{
    display: table-cell;
    background: #e6e6e6;
    text-align: center;
    height: 30px;
    padding: 0 5px;
}

.keyboard-button{
    background: #FFFFFF;
    border-radius: 5px;
}
.keyboard-button input{
    border: none;
    background: #e6e6e6;
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    padding: 0;
}

#inline-keyboard-generator input{
    color: #000000;
    background: #e6e6e6;
}

.generated-inline-keyboard {
    background: #ffffff;
    float: left;
    width: 90%;
}

.generated-inline-keyboard .keyboard-row{
    width: 100%;
    height: 40px;
    display: table;
    border-collapse:separate;
    border-spacing: 5px;
    table-layout: fixed;
}
.generated-inline-keyboard .keyboard-row div {
    display: table-cell;
    background: #e6e6e6;
    text-align: center;
    height: 30px;
    padding: 0 5px;
}

.screen-generated-inline-keyboard {
    background: none;
}

.screen-generated-inline-keyboard .keyboard-row {
    display: table;
    border-collapse: separate;
    border-spacing: 5px;
    height: 48px;
}

.inline-keyboard-button{
    display: table-cell;
    background: none;
    background: #000;
    opacity: 0.2;
    border-radius: 5px;
}

.inline-keyboard-button input{
    border: none;
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    padding: 0;
    color: #FFF;
    background: none;
}

.screen-item-toolbar{
    position: absolute;
    top: 0;
    height: 35px;
    width: 100%;
    background: #AFBCC3;
    display: block;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    color: #FFF;
    opacity: 0.9;
    display: flex;
    align-items: center;
}

.screen-item-toolbar span{
    color: #FFF;
    cursor: pointer;
}

.screen-item-toolbar #screen-delete{
    margin-left: auto;
    margin-right: 5px;
}
.screen-item-toolbar #screen-drag{
    margin-left: 5px;
}

.buttons-panel{
    float: left;
    width: 10%;
}
.buttons-panel button{
    width: 100%;
    height: 40px;
}
/* end keyboard styles */

/* Screen header styles */

#screen-header{
    color: #FFF;
    padding: 5px 10px;
    display: flex;
    align-items: center;
}

#chat-back-arrow{

}

#chat-thumbnail{
    width: 40px;
    height: 40px;
    display: table;
    margin-left: 25px;
}

#chat-thumbnail label{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
}

#chat-info{
    margin-left: 15px;
}

#chat-info #chat-name{
    font-weight: bold;
}

#chat-options{
    margin-left: auto;
}

#chat-status{
    font-size: 0.9rem;
}

.chat-thumbnail{
     border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    background-color: darkorange;
}

/* End screen header styles */

/* Screen bottom styles */

#screen-bottom {
    display: flex;
    align-items: center;
    color: #989898;
    padding: 5px 10px;
    background-color: #FFF;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #989898;
}

#screen-bottom:after {
    clear: both;
    content: "";
    display: block;
}

#screen-text-input{
    flex-grow: 2;
    margin-left: 20px;
}

#attach-file{
    margin-left: 15px;
}

#attach-file i{
    transform: rotate(215deg);
}
#record-voice{
    margin-left: 15px;
}

/* End screen botton styles */


/* Sticky footer styles
-------------------------------------------------- */
.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-content {
  flex: 1;
  padding-top: 25px;
}

.main-footer{
    margin-top: 30px;
    padding-top: 15px;
}
/* -------------------------------------------------- */
