<footer class="main-footer">
    <div class="container">
        <div class="row">
          <div class="col-12 col-md">
            <p>TSD</p>
            <small class="d-block mb-3 text-muted">&copy; 2017-2018</small>
          </div>
          <div class="col-6 col-md">
            <h5>Features</h5>
            <ul class="list-unstyled text-small">
              <li><a class="text-muted" href="#">Design</a></li>
              <li><a class="text-muted" href="#">Save</a></li>
              <li><a class="text-muted" href="#">Export to png</a></li>
              <li><a class="text-muted" href="#">Organize in projects</a></li>
            </ul>
          </div>
          <div class="col-6 col-md">
            <h5>Resources</h5>
            <ul class="list-unstyled text-small">
              <li><a class="text-muted" href="https://web.telegram.org/" target="_blank">Telegram Web</a></li>
              <li><a class="text-muted" href="https://core.telegram.org/bots/api" target="_blank">Telegram Bot API</a></li>
              <li><a class="text-muted" href="https://en.wikipedia.org/wiki/Chatbot" target="_blank">Learn about Chatbots</a></li>
              <li><a class="text-muted" href="#">Final resource</a></li>
            </ul>
          </div>
          <div class="col-6 col-md">
            <h5>About</h5>
            <ul class="list-unstyled text-small">
              <li><a class="text-muted" href="#">Team</a></li>
              <li><a class="text-muted" href="#">Locations</a></li>
              <li><a class="text-muted" href="#">Privacy</a></li>
              <li><a class="text-muted" href="#">Terms</a></li>
            </ul>
          </div>
        </div>
    </div>
</footer>
