{% extends 'telegram_screen_designer/base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block title_block %}
{% trans "Home" %}
{% endblock %}

{% block body_block %}

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">{% trans "Welcome to TSD" %}</h1>
    <p class="lead">{% trans "an application to design your Telegram screens!" %}</p>
    <hr class="my-4">
    <p>{% trans "Create an account to start designing screens." %}</p>
        <a class="btn btn-primary btn-lg" role="button" href="{% url 'register' %}">{% trans "Create an account" %}</a>
  </div>
</div>
{% endblock %}

