{% extends 'telegram_screen_designer/base.html' %}

{% block title_block %}
Sign in
{% endblock %}

{% block body_block %}
<div class="container vertical-center">
    <form id="login_form" class="base-form" method="post" action="{% url 'login' %}" novalidate>
        {% include "telegram_screen_designer/form_base.html" %}
    <button type="submit" class="btn btn-primary">Sign in</button>
    </form>
    <div>If you are not registered, register <a href="{% url 'register' %}" >here</a></div>
</div>

{% endblock %}
