{% extends 'telegram_screen_designer/base.html' %}
{% load extra_filters %}
{% block title_block %}
My projects
{% endblock %}

{% block body_block %}
<div class="container">
    <p>Hi {{ user.first_name }},</p>
    <br>
    <p>Continue with you projects or start a new one.</p>
    <br>
    <br>
    <h1>Projects</h1>
    <hr>
    {% if projects %}
    <div class="list-group list-container-custom">
        {% for project in projects %}
      <a href="{% url 'project' user.username project.id %}" class="list-group-item list-group-item-action flex-column align-items-start list-group-custom">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">{{project.name}}</h5>
            <small>{{ project.screen_number }} screens</small>
            {% with "project_"|addstr:project.id|addstr:"_screens" as project_screens %}
            {% for screen in project_1_screens|slice:":2" %}
                {% with MEDIA_URL|addstr:screen.thumbnail as thumbnail %}
                <img class="thumbnail" src="{{thumbnail}}">
                {% endwith %}
            {% endfor %}
            <i class="material-icons">more_vert</i>
            {% endwith %}
        </div>
        <p class="mb-1">{{project.description}}</p>
        <small>Last update {{ now|timeuntil:project.updated_at }} ago</small><br>
        <small>Created at: {{ project.updated_at|date:"D d M Y" }}</small>
      </a>
        {% endfor %}
    </div>
    {% else %}
    <strong>There are no projects yet...</strong>
    <br>
    {% endif %}
     <a class="btn btn-outline-primary" role="button" href="{% url 'new_project' user.username %}">New Project</a>
</div>


{% endblock %}
