{% extends 'telegram_screen_designer/base.html' %}

{% block title_block %}
New screen
{% endblock %}

{% block body_block %}
<div class="container vertical-center">
    <form id="screen_form" class="base-form" method="post" action="{% url 'new_screen' user.username project_id %}" novalidate>
        {% include "telegram_screen_designer/form_base.html" %}
        <button type="submit" class="btn btn-primary">Create</button>
    </form>
</div>

{% endblock %}
