{% extends 'telegram_screen_designer/base.html' %}

{% block title_block %}
New project
{% endblock %}

{% block body_block %}
<div class="container vertical-center">
    <form id="project_form" class="base-form" method="post" action="{% url 'new_project' user.username %}" novalidate>
        {% include "telegram_screen_designer/form_base.html" %}
        <button type="submit" class="btn btn-primary">Create</button>
    </form>
</div>

{% endblock %}
