{% extends 'telegram_screen_designer/base.html' %}
{% load extra_filters %}

{% block title_block %}
{{project_name}}
{% endblock %}

{% block body_block %}
<div class="container">
    <section class="border border-light header-box">
        <h1>Project: {{ project.name }}</h1>
        <p>{{ project.description }}</p>
        <form id="remove-project-form" class="hide-submit" action="{% url 'delete_project' user.username project.id %}" method="POST">{% csrf_token %} <label data-target="#remove-project-modal" data-toggle="modal" title="Delete project and its screens"><i class="material-icons" >delete</i></label></form>
    </section>
    <section>
        <h2>Screens</h2>
        <hr>
        {% if screens %}
        <div class="list-group list-container-custom">
            {% for screen in screens %}
          <a href="{% url 'screen' user.username screen.project.id screen.id %}" class="list-group-item list-group-item-action flex-column align-items-start list-group-custom">
            <div class="row list-item-container">
                <div class="col-2 list-item-image">
                    <img class="thumbnail" src="{{ MEDIA_URL }}{{ screen.thumbnail }}">
                </div>
                <div class="col list-item-data">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">{{screen.name}}</h5>
                        <small>Last update {{ now|timeuntil:screen.updated_at }} ago</small>
                    </div>
                    <p class="mb-1">{{screen.description}}</p>
                    <small>Created at: {{ screen.updated_at|date:"D d M Y" }}</small>
                </div>
            </div>
          </a>
            {% endfor %}
        </div>
        {% else %}
        <strong>There are no screens yet...</strong>
        <br>
        {% endif %}
        <a class="btn btn-outline-primary" href="{% url 'new_screen' user.username project.id %}" role="button">New screen</a>
    </section>
</div>

<!-- Remove project Modal window -->
<div class="modal fade" id="remove-project-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Remove project</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure about removing project? Its all screens will be removed.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button id="remove-project-accept" type="button" class="btn btn-primary">Remove</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}
