{% extends 'telegram_screen_designer/base.html' %}

{% block title_block %}
Sign up
{% endblock %}

{% block body_block %}
<div class="container vertical-center">
    {% if registered %}
        TSD says: <strong>thank you for registering!</strong>
        <a href="{% url 'index' %}">Return to the homepage.</a><br />
    {% else %}
        <form id="user_form" class="form_signin base-form" method="post" action="{% url 'register' %}" enctype="multipart/form-data" novalidate>
            <h1>Start designing your Bots!</h1>
            <p>Create an account to design your screens, organize by projects, save and export them.</p>
            <br>
            {% include "telegram_screen_designer/form_base.html" %}
        <button type="submit" class="btn btn-primary">Sign up</button>
        </form>
    {% endif %}
</div>
{% endblock %}
