{% extends 'telegram_screen_designer/base.html' %}
{% load staticfiles %}

{% block title_block %}
Create screen
{% endblock %}

{% block body_block %}
    <div class="row">
        <div class="col-12">
            <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">
                    <div class="btn-group">
                      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Screens
                      </button>
                      <div class="dropdown-menu">
                          {% for screen_item in screen_list %}
                          {% if screen_item.id != screen.id %}
                        <a class="dropdown-item" href="{% url 'screen' user.username screen_item.project.id screen_item.id %}">{{screen_item.name}}</a>
                          {% endif %}
                          {% endfor %}
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'new_screen' user.username project_id %}"> + New screen</a>
                      </div>
                    </div>
                </li>
                <li class="breadcrumb-item">{{screen.name}}</li>
            </ol>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <section id="tool-panel">
                <!-- NEW TOOL PANEL-->
            <nav>
              <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-screencofig-tab" data-toggle="tab" href="#nav-screencofig" role="tab" aria-controls="nav-screencofig" aria-selected="true">Screen configuration</a>
                <a class="nav-item nav-link" id="nav-messages-tab" data-toggle="tab" href="#nav-messages" role="tab" aria-controls="nav-messages" aria-selected="false">Messages</a>
                <a class="nav-item nav-link" id="nav-keyboards-tab" data-toggle="tab" href="#nav-keyboards" role="tab" aria-controls="nav-keyboards" aria-selected="false">Keyboards</a>
              </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-screencofig" role="tabpanel" aria-labelledby="nav-screencofig-tab">
                    <div class="customizable-property-box">
                        <h5>Choose screen frame</h5>
                        <div class="custom-control custom-radio">
                            <input id="android-frame-radio" class="custom-control-input" type="radio" name="smartphone-switcher" checked="checked" value="android">
                            <label class="custom-control-label" for="android-frame-radio">Android</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input id="iphone-frame-radio" type="radio" name="smartphone-switcher" value="iphone" class="custom-control-input" >
                            <label class="custom-control-label" for="iphone-frame-radio">Iphone</label>
                        </div>
                    </div>
                    <div id="customization-area" class="customizable-property-box">
                        <h5>Customize Screen</h5>
                        <br>
                        <label>Background color:</label> <input id="background-color-picker" type="color">
                        <br>
                        <label>Menu color:</label> <input id="menu-color-picker" type="color">
                        <br>
                        <label>Thumbnail background color:</label> <input id="thumbnail-color-picker" type="color">
                    </div>
                </div>
                <div class="tab-pane fade" id="nav-messages" role="tabpanel" aria-labelledby="nav-messages-tab">
                    <div id="text-msg-generator" class="customizable-property-box">
                        <div id="text-msg" class="form-group">
                            <i id="drag-icon" class="small material-icons not-drag">drag_indicator</i>
                            <label for="text-area-message" class="not-drag" >Text message</label>
                            <textarea id="text-area-message" class="form-control" accept="text/plain"></textarea>
                            <!--<textarea id="text-area-message-timestamp" class="form-control" accept="text/plain" placeholder="Write message timestamp"></textarea>-->
                        </div>
                        <div class="custom-control custom-radio">
                            <input id="message-side-radio-left" class="custom-control-input" type="radio" name="conversation-side-switcher" checked="checked" value="left" >
                            <label class="custom-control-label" for="message-side-radio-left" >Left</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input id="message-side-radio-right" class="custom-control-input" type="radio" name="conversation-side-switcher" value="right" >
                            <label class="custom-control-label" for="message-side-radio-right" >Right</label>
                        </div>
                    </div>

                    <div id="image-msg">Choose a image:
                        <div class="custom-file" class="customizable-property-box">
                            <input id="image-picker" class="custom-file-input" accept="image/*" name="image_file" value="" type="file">
                            <label class="custom-file-label" for="image-picker">Choose a image</label>
                        </div>
                        <div id="image-msg">
                            <i id="drag-icon" class="small material-icons not-drag">drag_indicator</i>
                            <img src="" alt="">
                        </div>
                    </div>
                    <div id="audio-msg" class="customizable-property-box">AUDIO</div>
                </div>
                <div class="tab-pane fade" id="nav-keyboards" role="tabpanel" aria-labelledby="nav-keyboards-tab">
                    <div id="inline-keyboard-generator" class="customizable-property-box">
                        <h5>Inline keyboard</h5>
                        <div id="inline-keyboard-add-row">
                            <button type="button" class="btn btn-secondary">Add row</button>
                        </div>
                        <div id="reset-inline-keyboard">
                            <button type="button" class="btn btn-secondary">Reset</button>
                        </div>
                        <div id="inline-keyboard-buttons-panel" class="buttons-panel"></div>
                        <div id="inline-keyboard-container">
                            <div class="generated-inline-keyboard">
                            </div>
                        </div>
                        <button id="add-inline-keyboard" type="button" class="btn btn-primary">Add to screen</button>

                    </div>
                    <div id="common-keyboard-generator" class="keyboard-generator customizable-property-box">
                        <h5>Normal keyboard</h5>
                        <div id="add-row">
                            <button type="button" class="btn btn-secondary">Add row</button>
                        </div>
                        <div id="reset-keyboard">
                            <button type="button" class="btn btn-secondary">Reset</button>
                        </div>
                        <div id="buttons-panel" class="buttons-panel"></div>
                        <div id="common-keyboard-container" class="keyboard-container">
                            <div class="generated-keyboard">
                            </div>
                        </div>
                        <button id="add-keyboard" type="button" class="btn btn-primary">Add to screen</button>
                        <button id="remove-screen-keyboard" type="button" class="btn btn-secondary">Remove screen keyboard</button>
                    </div>
                </div>
            </div>
                <!-- END OF NEW TOOL PANEL-->

            </section>
        </div>
        <div class="col-6">
            <ol class="screen-navigation">
                {% if previous_screen %}
                <a href="{% url 'screen' user.username screen.project.id previous_screen.id %}"><i class="material-icons">navigate_before</i></a>
                {% else %}
                <i class="material-icons">navigate_before</i>
                {% endif %}
                <span>{{screen.name}}</span>
                {% if next_screen %}
                <a href="{% url 'screen' user.username screen.project.id next_screen.id %}"><i class="material-icons">navigate_next</i></a>
                {% else %}
                <i class="material-icons">navigate_next</i>
                {% endif %}
            </ol>
            <div class="screen-box">
                <section id="screen" class="screen">
                {% if screen.data %}
                    <script type="application/javascript">
                    window.onload = function() {
                        json_data = {{screen.data | safe }};
                        $('#screen').html(json_data.html);
                        if(Number.isInteger(json_data.input_id_count)){
                            input_id_counter = parseInt(json_data.input_id_count);
                        }
                        jQuery.each(json_data.inputs, function() {
                            console.log(this.value)
                            $('#' + this.id).val(this.value);
                        });
                    };
                    </script>
                {% else %}
                <div id="top-screen-frame" class="top-screen-frame-android"></div>
                <div id="middle-screen-frame" class="middle-screen-frame-android">
                    <div id="screen-header">
                        <div id="chat-back-arrow"><i class="material-icons">arrow_back</i></div>
                        <div id="chat-thumbnail" class="chat-thumbnail"><label>{{ screen.project.name|first }}</label></div>
                        <div id="chat-info">
                            <div id="chat-name">{{ screen.project.name }}</div>
                            <div id="chat-status">bot</div>
                        </div>
                        <div id="chat-options"><i class="material-icons">more_vert</i></div>
                    </div>
                    <div id="screen-body">
                        <ul id="message-ul" class="message-list">
                        </ul>
                    </div>
                    <div id="screen-bottom" >
                        <div id="emoticon-picker"><i class="material-icons">insert_emoticon</i></div>
                        <div id="screen-text-input"><p>Message</p></div>
                        <!--<i class="material-icons">view_module</i>-->
                        <!--    <i class="material-icons">keyboard</i>-->
                        <div id="attach-file"><i class="material-icons">attach_file</i></div>
                        <div id="record-voice"><i class="material-icons">keyboard_voice</i></div>
                        <!--<i class="material-icons">send</i>-->
                    </div>
                    <div id="keyboard-screen-container"></div>
                </div>
                <div id="bottom-screen-frame" class="bottom-screen-frame-android"></div>
                {% endif %}
                </section>
            </div>
        </div>
    <div class="col-2">
        <ul class="button-panel btn-group-vertical">
            <li id="save-screen-button"><a id="save-html-button" aria-label="Save screen" ><i class="material-icons">save</i></a></li>
            <li><a id="screenshot-button" aria-label="Download screen snapshoot" ><i class="material-icons">save_alt</i></a></li>
            <li><a id="screen-preview-button" aria-label="Preview screen snapshoot" ><i class="material-icons">search</i></a></li>
            <li><form id="remove-screen-form" class="hide-submit" action="{% url 'delete_screen' user.username project_id screen.id %}" method="POST">{% csrf_token %} <label data-target="#remove-screen-modal" data-toggle="modal" title="Delete project and its screens"><i class="material-icons" >delete</i></label></form></li>
        </ul>
    </div>
</div>
    <div id="canvas-container"></div>
    <form id="screen-img-form" method="POST" enctype="multipart/form-data" action="{% url 'download_screenshot' %}">
        {% csrf_token %}
        <input id="screen-img" name="screen-img" value="" type="hidden" >
    </form>
    <form id="screen-html-form" method="POST" enctype="multipart/form-data" action="{% url 'save_screen' user.username project_id screen.id %}">
        {% csrf_token %}
        <input id="screen-json-data" name="screen-json-data" value="" type="hidden" >
        <input id="screen-img-save" name="screen-img" value="" type="hidden" >
    </form>

<!-- Preview screen Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Preview screen</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div id="preview-screen-modal" class="modal-body">
      </div>
    </div>
  </div>
</div>
<!-- end modal -->

<!-- Remove project Modal window -->
<div class="modal fade" id="remove-screen-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Remove screen</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure about removing screen? The action can no be undone.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button id="remove-screen-accept" type="button" class="btn btn-primary">Remove</button>
      </div>
    </div>
  </div>
</div>
<!-- end modal -->
{% endblock %}
